* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    width: 100%
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1F1F1F;
}

h1 {
    font-size: 30px;
    font-family: Work Sans;
    font-weight: normal;
    color: whitesmoke;
    background: transparent;
    max-width: 70%;
}

h2 {
    font-size: 125%;
    font-family: Work Sans;
    font-weight: normal;
    color: black;
    background: transparent;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

h3 {
    font-size: 100%;
    font-family: Work Sans;
    font-weight: normal;
    color: black;
    background: transparent;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
}

p {
    padding: 0;
    margin: 30px auto;
    font-family: Work Sans;
    font-size: 100%;
    text-align: center;
    line-height: 25px;
    width: 75%;
}

.header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9121849423363095) 0%, rgba(0,0,0,0.7861345221682423) 39%, rgba(0,0,0,0) 100%, rgba(0,0,0,0.2595238779105392) 100%);

}

a {
    padding: 0;
    margin: 0;
}

a, button {
    color: #CCCCCC;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 500;
    text-decoration: none;    
}

.banner {
    background-image: url("IMG_3016.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 70px;
    background: rgb(0,0,0);
    position: fixed;
}

#logo{
    cursor: pointer;
    margin-left: 50px;
    margin-top: 25px;
    width: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.imgcontainer {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    margin-left:-200px;
    left: 50%;
    width: 0;
}

#logo2 {
    width: 400px;
    display: block;
    position: absolute;
    
}

.nav-bar{
    list-style:none;
    line-height: 70px;
    text-align: right;
    float: right;
}

.nav-bar a {
    margin: 0 40px;
    transition: all 0.3s ease 0s;
}

.banner button {
    padding: 10px 5px;
    width: 100px;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    position: absolute;
    margin: 330px 150px;
}

.banner button:hover {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

.nav-bar a:hover {
    color: grey;
}

.banner button a {
    color: black;
}

.banner button a:hover {
    color: black;
}

.banner h1 {
    background: transparent;
    font-size: 50px;
    text-align: center;
}

ul {
    list-style-type: disc;
}

li {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
    text-align: center;
}

#massage {
    background-color: white;
    padding: 100px 0px;
    color: black;
}

.massage-list {
    max-width: 500px;
    margin: 0 auto;
}

.deb-list {
    max-width: 500px;
    margin: 0 auto;
}

#kost {
    background-color: #1F1F1F;
    padding: 100px 0;
    color: white;
}

#kost p {
    padding: 0;
    margin: 30px auto;
    font-family: Work Sans;
    font-size: 100%;
    text-align: center;
    line-height: 25px;
    width: 75%;
}

#kost h2 {
    color: white;
}

#pt {
    background-color: white;
    padding: 100px;
    color: black;
    
}

label {
    color: white;
    display: none;
}

#toggle {
    display: none;
}

.menu {
    display: none;
}

@media only screen and (max-width: 700px) {
    label {
        display: block;
        cursor: pointer;
        margin-left: 85%;
        line-height: 70px;
        font-size: 30px;
    }

    .nav-bar {
        display: none;
    }

    .menu {
        text-align: center;
        display: none;
        background-color: black;
        height: 100vh;
    }

    .menu a {
        display: block;
        padding: 40px 0;
    }

    #toggle:checked + .menu {
        display: block;
    }

    #logo2 {
        width: 250px;
    }

    .imgcontainer {
        position: absolute;
        top: 50%;
        margin-top: -100px;
        margin-left:-125px;
        left: 50%;
        width: 0;
    }

    .banner button {
        margin: 220px 75px;
        padding: 20px 20px;
    }

}


